body {
    margin: 0;
    padding: 0;
    background-color: rgb(66, 66, 66)
}

.nav-bar {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 80px;
    background-color: rgb(30, 30, 30);
    color: white;
}

    .nav-bar > div {
        display: flex;
        flex-direction: row;
        font-family: 'Segoe UI';
        padding: 0;
        margin: 0;
    }

        .nav-bar div > div {
            margin: 0;
            padding: 10px 8px;
        }

            .nav-bar div > div a {
                text-decoration: none;
                color: rgb(193, 193, 193);
                cursor: pointer;
                font-size: 15px;
            }

                .nav-bar div > div a:hover {
                    color: white;
                }

.title{
    color: white !important;
    font-size: 18px !important;
}

.float-right {
    margin-left: auto !important;
    margin-right: 20px !important;
    order: 2;
}

.user-btn {
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(55, 55, 55);
    border: none;
    z-index: 1;
    margin-top: 12px !important;
    border-radius: 10px
}


    .dropdown-content::after {
        content: "";
        position: absolute;
        top: -10px;
        right: 10%;
        width: 0;
        height: 0;
        border-width: 0 15px 20px 15px;
        border-color: transparent transparent rgb(55, 55, 55) transparent;
        border-style: solid;
        z-index: 9998;
    }

    .dropdown-content a {
        color: rgb(206, 206, 206);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}