body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.login-form-container{
    margin: 120px auto;
    width: 400px;
    padding: 30px 16px;
    border: 2px solid lightgray;
    font-family: 'Segoe UI';
    font-size: 15px;
    box-shadow: 0 3px 6px lightgray;
    border-radius: 10px;
}


.form-title{
    font-family: 'Sail';
    font-size: 50px;
}

.username,
.password,
.submit{
    margin-bottom: 16px;
    padding: 10px 16px;
    border: 2px solid lightgray;
    width: 100%;
    font-size: 17px;
    margin-top: 8px;
    border-radius: 5px;
    outline: none;
}

.submit {
    background-color: rgb(255, 242, 0);
    color: black;
    border: none !important;
    border-radius: 20px;
    cursor: pointer;
}

.username:hover,
.password:hover {
    border: 2px solid #eeaa68;
}

.username:focus,
.password:focus {
    border: 2px solid #eeaa68;
}

.submit:hover {
    background-color: rgb(242, 230, 0);
}

.sign-up{
    font-size: 16px;
    color: rgb(128, 128, 128);
    text-align: center;
}

.sign-up a{
    color: rgb(0, 129, 239);
    text-decoration: none;
}

    .sign-up a:hover {
        text-decoration: underline;
    }

.foot-content {
    margin-top: 30px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(128, 128, 128);
    text-align: center;
}

    .foot-content a {
        color: rgb(0, 129, 239);
        text-decoration: none;
    }

        .foot-content a:hover {
            text-decoration: underline;
        }