body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

*{
    box-sizing: border-box;
}

.profile-box {
    margin: 60px auto;
    width: 450px;
    padding: 0;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 16px;
}

.prof-content {
    padding: 20px 30px;
}

p{
    color: rgb(68, 68, 68)
}

.prof-1,
.prof-2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}

.see-prof{
    border-top: 2px solid rgb(66, 66, 66);
    padding: 10px 30px 20px;
}

.see-prof a{
    color: rgb(0, 129, 239);
    text-decoration: none;
    font-size: 20px;
}

    .see-prof a:hover {
        text-decoration: underline;
    }